body{
	background-color: #BF4518;
}

.container{
	padding-top: 20px;
}

.message, .response{
	color: #F9EBC1;
	font-size: 60px;
	width:100%;
}

.response{
	text-align: right;
}

.image img{
	width: 500px;
}